.kk {
    color: #fff;
    text-align: center;
    align-items: center;
}

.wel {
    background-color: rgb(145, 142, 142, 0.5);
    width: 100%;
    margin: 2px 5px;
    font-family: 'Courier New', Courier, monospace;
}

.head {
    margin: 10px 50px;
}

.so {
    margin: 50px;
}

.si {
    width: 70%;
    margin: 0 auto;
}

Button {
    width: 50%;
    margin: 0 auto;
}

.back {
    width: max-content;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}